/* Universal */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: rgb(184, 184, 184);
}

/* header */


.navbar {
    width: 100%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}

.logo {
    width: 100%;
    color: white;
    font-size: 50px;
}

.navbar .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    text-align: right;
    margin: 10px 20px;
    position: relative;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}


.navbar ul li:hover::after {
    width: 100%;

}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}


/* Our main content */

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: left;
    color: #009688;
    font-size: 30px;
}

#about {
    padding-left: 200px;
}

#work {
  margin: 300px 0 300px 0;
    margin-bottom: 1000px;
    padding-left: 200px;
}


/* Our footer containing conatct info */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 35px;
    background-color: grey;
  }

.contact {
    margin-bottom: 50px;
    text-align: left;
    color: white;
    font-size: 30px;
    padding: 30px 0 0 50px;
}

.contact-info {
  padding-right: 200px;
  margin-bottom: 20px;
}

.contact-info a {
  color: white;
  text-decoration: none;
  display: inline;
  justify-content: space-around;
  margin-inline: 20px;
  position: relative;
}

.contact-info ::after {
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}


.contact-info :hover::after {
  width: 100%;

}




/* margin-bottom can raise a value up (like maybe to the bottom of an image?) */


































/* .contact-info {
    display: flex;
    margin-bottom: 50px;
    text-align: right;
    color: white;
    font-size: 12px;
    
} */


  
/*

this gives pur text spacing
    -try putting this in the body
  line-height: 1;


this gives a line under text.. or said position

article {
  border-bottom: 1px solid #d8a47f;
}


Media reference

@media screen and (max-width: 768px) {
  header, main {
    flex-direction: column;
  }

  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}




*/